<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BUWON GIT</title>
    <!-- Vue js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="text-3xl font-bold underline">Hello Git World!</h1>
    <h2>If you use Git, you can manage version control of source easily</h2>
    <h2>Commit: Frederick</h2>

    <button class="bg-sky-300 hover:bg-sky-500">Save changes</button>

    <div class="flex flex-row">
      <div class="bg-[#1da1f2] text-white m-3 px-5 flex">
        <svg
          class="m-2 text-white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
          /></svg
        ><span class="m-2">twitter</span>
      </div>
      <div class="bg-[#e9d5ff] m-3 px-5">02</div>
      <div class="bg-[#e9d5ff] m-3 px-5">03</div>
    </div>

    <div id="app">{{ message }}</div>
    <div id="app-2">
      <span v-bind:title="message">
        내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
      </span>
    </div>

    <div id="app-3">
      <p v-if="seen">이제 나를 볼 수 있어요</p>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>
    </div>

    <script src="./jsforVue.js"></script>
  </body>
</html>
